@inherits System.Web.Mvc.WebViewPage<TModel>
@model ClassLibrary1.P1Model

@{
    ViewBag.Title = "Index";
}

<h2>Got it working Index</h2>
<h3>@ViewBag._model.firstName</h3>
<h3>@ViewBag._model.lastName</h3>